/* paletton colors https://paletton.com/#uid=52P0u0kzvr0m+zktRxjDrm0KrgG */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

/*  O BACKGROUND NÃO É DE AUTORIA MINHA, FONTE:https://codepen.io/P1N2O/pen/pyBNzX  */

body {
	background: linear-gradient(-45deg, #0ECE0E, #2EA4A4, #12973F, #006A00);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*  O BACKGROUND NÃO É DE AUTORIA MINHA, FONTE:https://codepen.io/P1N2O/pen/pyBNzX  */

.header-container{
    width: 100%;
    height: 9rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header-title{
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 80px;
}

.header-sub-title {
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    width: 50%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: 15px;
}

.form-container-div {
    padding: 15px;
}
.form-container-div.form-group {
    width: 75%;
    display: flex;
    justify-content: center;
}

.sub-title {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: white;
}


.line{ 
    width: 85%;
    border: 1px solid white;
    margin-bottom: 30px;
}

.form-control {
    background-color: transparent;
}



label{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    color: white;
    
}


input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-primary {
    width: 50%;
    background-color: transparent;
    border-color: white;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: white;
}

.btn-primary::after {
    background-color: white;
    color: black;
    border: white;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%); 
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}

td{
    color: white;
}



@media(max-width: 769px) {
    body {
        background: linear-gradient(-45deg, #0ECE0E, #2EA4A4, #12973F, #2EA4A4);
        background-size: 500% 400%;
        height: auto;
    }

    @keyframes gradient {
        0% {
            background-position: 050%;
        }
        50% {
            background-position: 50%;
        }
        100% {
            background-position: 50%;
        }
    }
}

@media(max-width: 600px) {
    .form-container {
        width: 80%;
    }
}